# file.te

### DATA
type zram_data_file, file_type, data_file_type, core_data_file_type;

### system.suspend - wakeup stats
type sysfs_battery, sysfs_type, r_fs_type, fs_type;
